<h1>j-archive.com</h1>
<h2>Seasons</h2>

<ul>
{{#each seasons}}
	{{#if number}}
	<li class="row"><a href="/game/j-archive/{{number}}" class="btn btn-primary">Season {{number}}</a></li>
	{{/if}}
{{/each}}
</ul>
