<form method="post">
<ul class="list-unstyled">
	{{#each files}}
	<li><button type="submut" name="file" value="{{.}}" class="btn btn-lg btn-block btn-primary">{{.}}</button></li>
	{{/each}}
</ul>
</form>