<div class="jeopardy-board header row">
	{{#each game.categories}}
	<div class="category block col-md-2"><span>{{name}}</span></div>
	{{/each}}
</div>

<div class="answer-grid">
	{{#each game.answers}}
	<div class="jeopardy-board row">
		{{#each points}}
		<div class="point block col-md-2"><span>${{value}}</span></div>
		{{/each}}
	</div>
	{{/each}}
</div>

<div class="row">
	<div class="col-xs-12">
		<input type="text" id="answer" class="form-control" placeholder="Answer...">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<input type="text" id="question" class="form-control" placeholder="Question...?">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<button type="button" id="updateQuestion" class="form-control btn btn-primary">Save Question</button>
	</div>
</div>

<script>
	var game = {{{toJSON game}}};
</script>