body {
	background-color: #ccc;
}
.main-container {
	margin-top: 70px;
	color: #fff;
}

.notification-container {
	position: fixed;
	right: 15px;
	top: 70px;
	text-align: right;
}

.btn .glyphicon {
	font-size: 1.6em;
}

.game-area.runner .point {
	border: 2px solid #060CE9;
}
.game-area.runner .point:hover {
	border: 2px solid #ffc90e;
	cursor: pointer;
}


.game-area.runner .point.claimed {
	opacity: 0;
}
.game-area.runner .point.claimed:hover {
	border: 2px solid #060CE9;
	cursor: default;
}

.jeopardy-board {
	color: #ffc90e;
	background-color: #060CE9;
}

.jeopardy-board .block {
	text-align: center;
	vertical-align: middle;
	border: 3px solid #060CE9;
    height: 4vw;
	text-shadow: -2px 2px 3px rgba(0, 0, 0, 1);
}

.jeopardy-board .block.selected {
	border: 3px solid #000;
}

.jeopardy-board .category {
	font-size: 20px;
}

.jeopardy-board .point {
	font-size: 32px;
	font-weight: bold;
}

.overlay-pane {
	position: fixed;
	opacity: 0;
	z-index: 1000;
	background-color: #060CE9;
	text-align: center;
	vertical-align: middle;
}

.overlay-pane h1 {
	margin-top: 150px;
}

.overlay-pane h1, .overlay-pane h2 {
	color: #ffc90e;
	text-shadow: -2px 2px 3px rgba(0, 0, 0, 1);
	font-size: 36px;
}

.overlay-pane h2 {
	font-size: 28px;
}

.notices {
	z-index: 9999;
	position: fixed;
	right: 20px;
	top: 80px;
	width: 250px;
	list-style: none;
}

.hidden {
	display: none;
}

.player-list li {
	color: #000;
}

.btn-buzz-in {
	min-height: 250px;
}