<h1>Options</h1>
***{{>partest}}***
<div class="row">
	<div class="col-xs-6"><a href="/activity/" class="btn btn-success btn-block">Active Games</a></div>
	<div class="col-xs-6"><a href="/game/" class="btn btn-primary btn-block">Manage Games</a></div>
</div>